<div class='container'>
    <form role='form' name='userForm' ng-submit="userForm.$valid && userCtrl.save()">
        <div class='form-group' >
            <label for='firstName'>Nombres</label>
            <input type='text' class='form-control' id='firstName' placeholder='Enter value' ng-model="user.firstName" required/>
        </div>
        <div class='form-group' >
            <label for='lastName'>Apellidos</label>
            <input type='text' class='form-control' id='lastName' placeholder='Enter value' ng-model="user.lastName" required/>
        </div>
        <div class='form-group' >
            <label for='fecha'>fecha nacimiento</label>
            <input type='date' class='form-control' id='borndate' placeholder='Enter value' ng-model="user.fecha" required/>
        </div>
        
        
        <input type="submit" value="Guardar" class='btn btn-primary'/>
        <input type="reset" value="Cancelar" class='btn btn-default'/>
        <div class='form-group'>
            <h1> <label id = "resp">  </label>  </h1>
        </div>
    </form>
</div>